<div style="background-color: white">
  <header>
    <div class="header-area header-transparent">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div
            class="d-flex align-items-center justify-content-between flex-wrap position-relative"
          >
            <div class="left-side d-flex align-items-center">
              <!-- <div class="logo">
                <a href="index.html"
                  ><img src="./assets/img/logo/logo.png" alt=""
                /></a>
              </div> -->

              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/services">Services</a></li>

                    <li>
                      <a routerLink="/blog">Blog</a>
                      <ul class="submenu">
                        <li><a>Blog</a></li>
                        <li><a>Blog Details</a></li>
                        <li><a>Elements</a></li>
                      </ul>
                    </li>
                    <li><a routerLink="/contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-right-btn f-right">
              <a class="header-btn2"
                >Call Us:
                <span style="color: #ff4495">+10 (78) 378 3784</span></a
              >
              <a class="btn_0" href="#/login-form">Login</a>
            </div>

            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="slider-area position-relative">
      <div
        class="single-sliders slider-height2 slider-bg2 d-flex align-items-center"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-9">
              <div class="hero-caption hero-caption2">
                <h1 class="text-primary">About Us</h1>
                <p>
                  We build effective strategies to help you reach customers and
                  prospects across the entire web.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="about-area1 about-area2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="about-img about-img1">
              <img src="assets/img/gallery/about1.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-caption about-caption1">
              <div class="section-tittle mb-25">
                <span>About Us</span>
                <h2>We Create a Steps to Build a Successful Digital Product</h2>
                <p>
                  With over 2+ years of combined experience, our mission is to
                  design with your values and vision in mind. We’re out to
                  create purposeful spaces that balance art and creativity with
                  science and strategy.
                </p>
                <p class="mb-40 pt-10">
                  We’re out to create purposeful spaces that perform seamlessly
                  and brings together remote and in-person teams, for work that
                  goes wherever you do.
                </p>
              </div>
              <a class="browse-btn">Explore More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br /><br /><br /><br /><br /><br />
    <div
      class="emargency-care section-img-bg2"
      data-background="assets/img/gallery/contact-bg.jpg"
    >
      <div class="container">
        <div class="row">
          <div
            class="offset-xl-6 offset-lg-5 col-xl-5 col-lg-7 col-md-9 col-sm-12"
          >
            <div class="single-emargency">
              <div class="emargency-cap">
                <h5>
                  Interested to<br /><br />
                  Digging Dipper?
                </h5>
                <p class="emargenc-cap">
                  We’re out to create purposeful spaces that balance art and
                  creativity with science and strategy.
                </p>
                <a routerLink="/contact" class="border-btn loan-btn"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div
      class="footer-wrapper section-img-bg2"
      data-background="assets/img/gallery/footer-bg.jpg"
    >
      <div class="footer-area footer-padding">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
                  <div class="footer-logo mb-35">
                    <a routerLink="/home"
                      ><img
                        src="assets/img/logo/xlogo2_footer.png.pagespeed.ic.alcdWjq3I2.webp"
                        alt=""
                        data-pagespeed-url-hash="3521652134"
                    /></a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">
                      <p>
                        Duis aute irure dolor inasfa reprehenderit in voluptate
                        velit esse cillum
                      </p>
                    </div>

                    <ul class="footer-social">
                      <li>
                        <a><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a><i class="fab fa-facebook"></i></a>
                      </li>
                      <li>
                        <a><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Navigation</h4>
                  <ul>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/services">Services</a></li>
                    <li><a href="#/blog">Blog</a></li>
                    <li><a href="#/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Services</h4>
                  <ul>
                    <li><a>Drone Mapping</a></li>
                    <li><a> Real State</a></li>
                    <li><a>Commercial</a></li>
                    <li><a>Construction</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Support</h4>
                  <ul>
                    <li><a>Drone Mapping</a></li>
                    <li><a> Real State</a></li>
                    <li><a>Commercial</a></li>
                    <li><a>Construction</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-8">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle mb-50">
                  <h4>Contact Us</h4>
                  <ul>
                    <li><a>Drone Mapping</a></li>
                    <li class="number2">
                      <a
                        ><span
                          class="__cf_email__"
                          data-cfemail="7e1d11100a1f1d0a3e1d1f0c091f0d16501d1113"
                          >[email&#160;protected]</span
                        ></a
                      >
                    </li>
                    <li class="number"><a>10 (87) 738-3940</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area">
        <div class="container">
          <div class="footer-border">
            <div class="row">
              <div class="col-xl-12">
                <div class="footer-copy-right text-center">
                  <p>
                    Copyright &copy;
                    <script
                      data-cfasync="false"
                      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
                    ></script>
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved
                    <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                    by
                    <a>Mirror-Interactive Discussion</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="back-top">
    <a class="wrapper" title="Go to Top">
      <div class="arrows-container">
        <div class="arrow arrow-one"></div>
        <div class="arrow arrow-two"></div>
      </div>
    </a>
  </div>
</div>
