<div style="background-color: white;">
<header>
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap position-relative"
        >
          <div class="left-side d-flex align-items-center">
            <!-- <div class="logo">
              <a href="index.html"
                ><img src="assets/img/logo/logo.png" alt=""
              /></a>
            </div> -->

            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/services">Services</a></li>

                  <li>
                    <a routerLink="/blog">Blog</a>
                    <ul class="submenu">
                      <li><a>Blog</a></li>
                      <li><a>Blog Details</a></li>
                      <li><a>Elements</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="header-right-btn f-right">
            <a  class="header-btn2"
              >Call Us: <span style="color: #ff4495">+10 (78) 378 3784</span></a
            >
            <a href="#/login-form" class="btn_0">Login</a>
          </div>

          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="slider-area position-relative">
    <div
      class="single-sliders slider-height2 slider-bg2 d-flex align-items-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-9">
            <div class="hero-caption hero-caption2">
              <h1>Services</h1>
              <p>
                We build effective strategies to help you reach customers and
                prospects across the entire web.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="categories-area bottom-padding position-relative">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-8 col-md-10">
          <div class="section-tittle text-center mb-60">
            <span>Our Services</span>
            <h2>Provide Awesome Service With Our Tools</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat mb-50">
            <h5>
              <a href="#/services">Discover, Explore the Product</a>
            </h5>
            <div class="cat-icon">
              <img src="assets/img/icon/services1.svg" alt="" />
            </div>
            <div class="cat-cap">
              <p>Effective strategies to help you reach customers.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat mb-50">
            <h5>
              <a href="#/services">Discover, Explore the Product</a>
            </h5>
            <div class="cat-icon">
              <img src="assets/img/icon/services2.svg" alt="" />
            </div>
            <div class="cat-cap">
              <p>Effective strategies to help you reach customers.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat mb-50">
            <h5>
              <a href="#/services">Discover, Explore the Product</a>
            </h5>
            <div class="cat-icon">
              <img src="assets/img/icon/services3.svg" alt="" />
            </div>
            <div class="cat-cap">
              <p>Effective strategies to help you reach customers.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat mb-50">
            <h5>
              <a href="#/services">Discover, Explore the Product</a>
            </h5>
            <div class="cat-icon">
              <img src="" alt="" />
            </div>
            <div class="cat-cap">
              <p>Effective strategies to help you reach customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-s1 d-none d-xxl-block">
      <img src="assets/img/gallery/shape-1.png" alt="" />
    </div>
    <div class="shape-s2 d-none d-xl-block">
      <img src="assets/img/gallery/shape-2.png" alt="" />
    </div>
  </section>

  <section class="pricing-card-area section-padding fix">
    <div class="container p-bg pt-70">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7 col-md-10">
          <div class="section-tittle text-center mb-15">
            <span>Pricing Plan</span>
            <h2>Choose Your Best Pricing Plan</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-xl-12">
          <div class="nav-button">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a
                  class="nav-link active"
                  id="nav-one-tab"
                  data-bs-toggle="tab"
                  href="#nav-one"
                  role="tab"
                  aria-controls="nav-one"
                  aria-selected="true"
                  >Yearly</a
                >
                <a
                  class="nav-link"
                  id="nav-two-tab"
                  data-bs-toggle="tab"
                  href="#nav-two"
                  role="tab"
                  aria-controls="nav-two"
                  aria-selected="false"
                  >Monthly</a
                >
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-bg">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-one"
          role="tabpanel"
          aria-labelledby="nav-one-tab"
        >
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price1.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a  class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price2.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price3.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a  class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-two"
          role="tabpanel"
          aria-labelledby="nav-two-tab"
        >
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price1.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a  class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price3.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a  class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <div class="cat-icon">
                    <img src="assets/img/icon/price2.svg" alt="" />
                  </div>
                  <span>Basic</span>
                </div>
                <div class="card-mid">
                  <h4>$ 05.00</h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>Social Media Marketing</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a  class="btn_10 get-btn">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="emargency-care section-img-bg2"
    data-background="assets/img/gallery/contact-bg.jpg"
  >
    <div class="container">
      <div class="row">
        <div
          class="offset-xl-6 offset-lg-5 col-xl-5 col-lg-7 col-md-9 col-sm-12"
        >
          <div class="single-emargency">
            <div class="emargency-cap">
              <h5>
                Interested to<br /><br />
                Digging Dipper?
              </h5>
              <p class="emargenc-cap">
                We’re out to create purposeful spaces that balance art and
                creativity with science and strategy.
              </p>
              <a href="#/contact" class="border-btn loan-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div
    class="footer-wrapper section-img-bg2"
    data-background="assets/img/gallery/footer-bg.jpg"
  >
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <div class="footer-logo mb-35">
                  <a 
                    ><img src="assets/img/logo/logo2_footer.png" alt=""
                  /></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>
                      Duis aute irure dolor inasfa reprehenderit in voluptate
                      velit esse cillum
                    </p>
                  </div>

                  <ul class="footer-social">
                    <li>
                      <a ><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a 
                        ><i class="fab fa-facebook"></i
                      ></a>
                    </li>
                    <li>
                      <a ><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                      <a ><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Navigation</h4>
                <ul>
                  <li><a href="#/home">Home</a></li>
                  <li><a href="#/about">About</a></li>
                  <li><a href="#/services">Services</a></li>
                  <li><a href="#/blog">Blog</a></li>
                  <li><a href="#/contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Services</h4>
                <ul>
                  <li><a >Drone Mapping</a></li>
                  <li><a > Real State</a></li>
                  <li><a >Commercial</a></li>
                  <li><a >Construction</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Support</h4>
                <ul>
                  <li><a >Drone Mapping</a></li>
                  <li><a > Real State</a></li>
                  <li><a >Commercial</a></li>
                  <li><a >Construction</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle mb-50">
                <h4>Contact Us</h4>
                <ul>
                  <li><a >Drone Mapping</a></li>
                  <li class="number2">
                    <a 
                      ><span
                        class="__cf_email__"
                        data-cfemail="2744484953464453674446555046544f0944484a"
                        >[email&#160;protected]</span
                      ></a
                    >
                  </li>
                  <li class="number"><a >10 (87) 738-3940</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row">
            <div class="col-xl-12">
              <div class="footer-copy-right text-center">
                <p>
                  Copyright &copy;
                  <script
                    data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
                  ></script>
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved
                  <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                  by
                  <a>Mirror-Interactive Discussion</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="back-top">
  <a class="wrapper" title="Go to Top" href="#/services">
    <div class="arrows-container">
      <div class="arrow arrow-one"></div>
      <div class="arrow arrow-two"></div>
    </div>
  </a>
</div>
</div>